        </main>

        <footer>
            <p>&copy; <%= new Date().getFullYear() %> <%= __('DevSocialNetwork') %></p>
        </footer>
    </div>
    <script src="/script.js"></script>
</body>
</html>